<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- typecast fonts -->
        <script type="text/javascript" src="http://typecast.com/project_css/primitives/113460b8a42cc1.js"></script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/"></a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Romans Krjukovs<br />
                consultant<br />
                romans.krjukovs@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/corvax19">github.com/corvax19</a><br />
                <a href="https://twitter.com/corvax19">twitter.com/corvax19</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>